
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    margin-bottom: 0;
}

header .logo img {
    width: 275px;
    margin-left: 100px;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .menu li a {
    text-decoration: none;
    color: white;
    background-color: #CA1B1B;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: bold;
}

nav .menu li a:hover {
    background-color: #a01414;
}

.envio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: white;
    height: 15px;
    background-color: #CA1B1B;
    overflow: hidden;
    white-space: nowrap;
} 


.envio p {
display: inline-block;
padding-left: 100%;
animation: moverTexto 20s linear infinite;
}

@keyframes moverTexto {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-100%);
}
}

.hero {
    display: flex;
    align-items: center;
    padding: 20px;
    background-image: url(/assets/img/Inicio/bitoku_jugando.jpg);
    background-size: cover;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5); 
    background-blend-mode: overlay;
}


.hero img {
    max-width: 300px;
    margin-left: 50px;
}

.hero-text {
    max-width: 600px;
    text-align: right;
    margin-left: 500px;
    
}

.hero-text h1 {
    color: black;
}

.hero-text p {
    color: black;
    margin: 10px 0;
}

.hero-text .btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.productos-recientes {
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    background-color: #fff;
    text-align: justify;
    margin-bottom: 100px;
}

.productos-recientes h2 {
    margin-bottom: 20px;
    border-bottom: gray 0.5px solid;
    padding: 10px;
    color: #333;
}

.productos {
    display: flex;
    justify-content: center;
    margin-left: -500px;
    margin-right: -500px;
    gap: 20px;
}

.producto {
    text-align: center;
    max-width: 150px;
    text-align: justify;
}

.producto img {
    max-width: 100%;
    border-radius: 5px;
    width: 146px;
    height: 146px;
}

.categorias {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;

}

.categoria img{
    max-width: 100%;
    border-radius: 5px;
    width: 62px;
    height: 62px;
    margin: 5px;
}

.categorias h2 {
    margin-bottom: 10px;
    color: #333;
}

.categorias-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.categoria {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#familia{
    background-color: #2B4EFF;
}

#infantiles{
    background-color: #28CA51;
}

#expertos{
    background-color: #D8CD29;
}

#casuales{
    background-color: #A15D50;
}

main{
    margin-bottom: 20px;
    margin-top: 20px;
}
footer {
    background-color: #E55F5F;
    color: white;
    padding: 20px;
}

footer .info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

footer h3 {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer .social-icons {
    display: flex;
    gap: 10px;
}

footer .social-icons a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.footer-logo img {
    display: block;
    margin: 10px auto;
    max-width: 100px;
}

#footcat:hover {
    scale: 1.1;
    cursor: pointer;
}